<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhkj.syyj">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/spyj_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spyj_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activitys.MessageDetailActivity"></activity>
        <activity android:name=".Activitys.SystemMessageActivity" />
        <activity android:name=".Activitys.NewsActivity" />
        <activity android:name=".Activitys.IntegralActivity" />
        <activity android:name=".Activitys.CouponDetailActivity" />
        <activity android:name=".Activitys.ShoppingBrokerActivity" />
        <activity android:name=".Activitys.CouponActivity" />
        <activity android:name=".Activitys.CollectActivity" />
        <activity android:name=".Activitys.ShoppingAddressUpdateActivity" />
        <activity android:name=".Activitys.ShoppingAddressAddActivity" />
        <activity android:name=".Activitys.LogisticsDetailActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zhkj.syyj.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/boxing_file_provider" />
        </provider>

        <activity android:name=".Activitys.EvaluateActivity" />
        <activity android:name=".Activitys.UpdateUserActivity" />
        <activity android:name=".Activitys.PerSonalDataActivity" />
        <activity android:name=".Activitys.ShoppingAddressActivity" />
        <activity android:name=".Activitys.MemberActivity" />
        <activity android:name=".Activitys.CashOutActivity" />
        <activity android:name=".Activitys.RechargeActivity" />
        <activity android:name=".Activitys.MyBalanceActivity" />
        <activity android:name=".Activitys.OrderDetailActivity" />
        <activity android:name=".Activitys.MyOrderActivity" />
        <activity android:name=".Activitys.GoodsDetailActivity" />
        <activity android:name=".Activitys.ShopFmSearchActivity" />
        <activity android:name=".Activitys.InformationChoiceDetailActivity" />
        <activity android:name=".Activitys.InformationChoiceActivity" />
        <activity
            android:name=".Activitys.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activitys.UserProtocolActivity" />
        <activity android:name=".Activitys.AuditingActivity" />
        <activity android:name=".Activitys.EnrollActivity" />
        <activity android:name=".Activitys.BindInformationActivity" />
        <activity android:name=".Activitys.ReSettingActivity" />
        <activity android:name=".Activitys.LunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.LoginActivity" />
        <activity android:name=".MainActivity" /> <!-- 注意这里的android:theme="@style/AppTheme" AppTheme一定要是NoActionbar类型的主题 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.winfo.photoselector.RvPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />
    </application>

</manifest>